<a href="https://colab.research.google.com/github/mjkanf1994/ml_edu/blob/master/0818_ml_iris_sample.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## (1)패키지 불러오기
-sklearn 패키지를 불러온다

In [1]:
import sklearn  
print(sklearn.__version__)

0.22.2.post1

## (2) 데이터불러오기
-sklearn 내장데이터

In [10]:
from sklearn.datasets import load_iris

iris=load_iris() #bunch 형태의 데이터셋으로 구성되어 있음

#독립변수로 구성된 데이터
iris_data=iris.data

#종속변수
iris_label=iris.target
print('iris target 값 : ',iris_label[[0,50,100]])
print('iris target 명 : ',iris.target_names)

iris target 값 :  [0 1 2]
iris target 명 :  ['setosa' 'versicolor' 'virginica']

###(2) 데이터전처리
-상황 : numpy형태,리스트
-방법 : pandas를 활용해서 데이터 프레임 만들기
-ref. how to convert [https://stackoverflow.com/questions/38105539/how-to-convert-a-scikit-learn-dataset-to-a-pandas-dataset]

In [12]:
import pandas as pd
import numpy as np
data1 = pd.DataFrame(data= np.c_[iris['data'], iris['target']],
                     columns= iris['feature_names'] + ['target'])
data1

     sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
0                  5.1               3.5  ...               0.2     0.0
1                  4.9               3.0  ...               0.2     0.0
2                  4.7               3.2  ...               0.2     0.0
3                  4.6               3.1  ...               0.2     0.0
4                  5.0               3.6  ...               0.2     0.0
..                 ...               ...  ...               ...     ...
145                6.7               3.0  ...               2.3     2.0
146                6.3               2.5  ...               1.9     2.0
147                6.5               3.0  ...               2.0     2.0
148                6.2               3.4  ...               2.3     2.0
149                5.9               3.0  ...               1.8     2.0

[150 rows x 5 columns]

In [ ]:
from sklearn import datasets
import pandas as pd

def sklearn_to_df(sklearn_dataset):
    df = pd.DataFrame(sklearn_dataset.data, columns=sklearn_dataset.feature_names)
    df['target'] = pd.Series(sklearn_dataset.target)
    return df

df_boston = sklearn_to_df(datasets.load_boston())