In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df=pd.read_csv('C:/MJKANG/petition.csv',parse_dates=['start','end'])
###날짜 기준 옵션을 준것이다.

In [11]:
df.shape #몇행 몇열

(395547, 8)

In [5]:
#일부데이터 미리보기
df.head(5)

,article_id,start,end,answered,votes,category,title,content
0,21,2017-08-19,2017-11-17,0,9,안전/환경,스텔라 데이지호에 대한 제안입니다.,스텔라 데이지호에 대한 제안입니다.\n3월31일 스텔라 데이지호가 침몰하고 5달째가...
1,22,2017-08-19,2017-11-17,0,17,기타,비리제보처를 만들어주세요.,현 정부에 국민들이 가장 원하는 것은 부패척결입니다. 우리 사회에 각종 비리들이 ...
2,23,2017-08-19,2017-09-03,0,0,미래,제2의 개성공단,"만일 하시는 대통령님 및 각 부처 장관님,주무관님들 안녕하세요!!\n전남 목포에서 ..."
3,24,2017-08-19,2017-08-26,0,53,일자리,공공기관 무조건적인 정규직전환을 반대합니다.,현정부에서 정규직 일자리를 늘리는 것에 찬성합니다. 그런데 공공기관 비정규직들은 인...
4,25,2017-08-19,2017-09-03,0,0,미래,제2의 개성공단,"만일 하시는 대통령님 및 각 부처 장관님,주무관님들 안녕하세요!!\n전남 목포에서 ..."

In [6]:
df.tail(3)

,article_id,start,end,answered,votes,category,title,content
395544,517120,2019-02-04,2019-03-06,0,0,안전/환경,환경문제,명절이면 후로 제일문제는 쓰레기 문제 입니다.\n제일문제는 선물세트와 농산물세트 입...
395545,517121,2019-02-04,2019-03-06,0,20,정치개혁,"청화대,더불어민주당, 당장 답하라,,,,,,","좌파 더불어민주당, 좌파 정권 청화대는 선한 국민들을 더는 기망하지 말고 담장 답하..."
395546,517122,2019-02-04,2019-03-06,0,16,인권/성평등,여성부 폐지,국민들이 원합니다\n폐지 좀 시키세요;

In [7]:
###결측치 확인
df.isnull().sum()

article_id    0
start         0
end           0
answered      0
votes         0
category      0
title         0
content       1
dtype: int64

In [8]:
###기본정보
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395547 entries, 0 to 395546
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   article_id  395547 non-null  int64
 1   start       395547 non-null  datetime64[ns]
 2   end         395547 non-null  datetime64[ns]
 3   answered    395547 non-null  int64
 4   votes       395547 non-null  int64
 5   category    395547 non-null  object
 6   title       395547 non-null  object
 7   content     395546 non-null  object
dtypes: datetime64[ns](2), int64(3), object(3)
memory usage: 24.1+ MB

In [9]:
###데이터 타입만 따로 뽑아봅시다.
df.dtypes

article_id             int64
start         datetime64[ns]
end           datetime64[ns]
answered               int64
votes                  int64
category              object
title                 object
content               object
dtype: object

In [10]:
df.columns

Index(['article_id', 'start', 'end', 'answered', 'votes', 'category', 'title',
       'content'],
      dtype='object')

In [14]:
###수치형 데이터에 대해서 요약하기 ##수치형 변수에 대해서만 출력을 해준다.
df.describe()

         article_id      answered          votes
count 395547.000000 395547.000000  395547.000000
mean  251608.934635      0.000073     150.118818
std   153219.216242      0.008562    4802.582992
min       21.000000      0.000000       0.000000
25%   115236.500000      0.000000       2.000000
50%   253682.000000      0.000000       5.000000
75%   386137.500000      0.000000      15.000000
max   517122.000000      1.000000 1192049.000000

In [13]:
pd.set_option('float_format','{:f}'.format)

In [15]:
###카테고리형태의 데이터 요약
df.describe(include=np.object)

       category     title   content
count    395547    395547    395546
unique       17    346524    375224
top        정치개혁  이명박 출국금지  이명박 출국금지
freq      62750      3018       597

In [ ]:
##답변대상 청원보기
#20만건 이상 투표를 받으면 답변 대상 청원이 됩니다
#20만건 이상 청원 받은 내용은 데이터 프레임 만들기->df_20
#20만건 이상 투표를 받은 청원의 갯수를 세어 보세요
df_20

In [16]:
df['votes']>200000

0         False
1         False
2         False
3         False
4         False
          ...
395542    False
395543    False
395544    False
395545    False
395546    False
Name: votes, Length: 395547, dtype: bool

In [17]:
df_20=df[df['votes']>200000]

In [18]:
df_20

,article_id,start,end,answered,votes,category,title,content
1752,1785,2017-09-03,2017-11-02,1,296330,인권/성평등,청소년이란 이유로 보호법을 악용하는 잔인무도한 청소년들이 늘어나고있습니다. 반드시 ...,안녕하십니까. 청소년보호법이란 명목하에 나쁜짓을 일삼는 청소년들이 너무나 많아지고 ...
10894,10949,2017-09-06,2017-12-05,1,615354,미래,조두순 출소반대,제발 조두순 재심다시해서 무기징역으로 해야됩니다!!!
18111,18278,2017-09-30,2017-10-30,1,235372,인권/성평등,낙태죄 폐지와 자연유산 유도약(미프진) 합법화 및 도입을 부탁드립니다.,안녕하세요. 존경하는 대통령님 의원님\n낙태죄 폐지를 청원합니다.\n현재 대한민국은...
25032,26024,2017-11-04,2017-12-04,1,216774,안전/환경,'주취감형(술을 먹으면 형벌 감형)' 폐지를 건의(청원)합니다.,"'주취감형'이란, 술을 먹고 범행을 저지를 때, 심신미약 (이성이 없고 우발적)이라..."
43992,45581,2017-11-17,2017-12-17,1,281985,보건복지,"권역외상센터 (이국종 교수님) 추가적, 제도적, 환경적, 인력 지원","청원사항)\n중증외상분야의 추가적, 제도적, 환경적, 인력 지원 방안마련\n현 의료..."
...,...,...,...,...,...,...,...,...
363005,472309,2018-12-18,2019-01-17,0,269110,인권/성평등,조재범 코치를 강력처벌해주세요,그는 국가대표 심석희 외 다수의 여자선수들을 지속적으로 적어도 14년간 폭행해온 쓰...
375654,489302,2019-01-07,2019-02-06,0,302856,정치개혁,여.야는 속히 공수처 신설하라 !!!,지금 대한 민국은 나라를 바로 잡기 위해 반드시 이번 정부내에 검찰과 법원의 확실한...
390787,510422,2019-01-29,2019-02-28,0,312197,기타,"경사 ***, 경장 *** 외 ***에서 뇌물받는지 조사부탁드립니다.","경사 ***, 경장 *** 등등 ***에서 뇌물받는지 조사부탁드립니다.\nㅡㅡㅡㅡㅡ..."
391208,511075,2019-01-29,2019-02-28,0,207784,인권/성평등,"공공연한 여성 대상 약물 범죄 처벌과 ***을 비롯한 클럽, 유흥업소와 경찰 간의 ...",*** 사태의 핵심은 클럽&유흥업소 운영 관리인들의 의도적 약물 사용이 의심되는 납...
391984,512112,2019-01-30,2019-03-01,0,270999,정치개혁,"시민의 이름으로, 이번 김경수 지사 재판에 관련된 법원 판사 전원의 사퇴를 명령합니다.","촛불혁명으로 세운 정부와 달리, 사법부는 여전히 과거의 구습과 적폐적 습관을 버리지..."

In [20]:
df_20.head(3)

,article_id,start,end,answered,votes,category,title,content
1752,1785,2017-09-03,2017-11-02,1,296330,인권/성평등,청소년이란 이유로 보호법을 악용하는 잔인무도한 청소년들이 늘어나고있습니다. 반드시 ...,안녕하십니까. 청소년보호법이란 명목하에 나쁜짓을 일삼는 청소년들이 너무나 많아지고 ...
10894,10949,2017-09-06,2017-12-05,1,615354,미래,조두순 출소반대,제발 조두순 재심다시해서 무기징역으로 해야됩니다!!!
18111,18278,2017-09-30,2017-10-30,1,235372,인권/성평등,낙태죄 폐지와 자연유산 유도약(미프진) 합법화 및 도입을 부탁드립니다.,안녕하세요. 존경하는 대통령님 의원님\n낙태죄 폐지를 청원합니다.\n현재 대한민국은...

In [21]:
df_20.shape

(80, 8)

In [22]:
len(df_20)

80

In [24]:
df_1000=df[df['votes']>1000]
df_1000

,article_id,start,end,answered,votes,category,title,content
7,28,2017-08-19,2017-08-26,0,2137,경제민주화,소액주주를 보호해주십시오,** 존경하옵는 문재인대통령님께\n저는 중국원양자원이라는 KOSPI상장사의 소액 ...
21,43,2017-08-19,2017-09-18,0,11293,육아/교육,기간제 교사의 정규직화를 반대합니다.,"대통령님, 안녕하세요. 저는 임용을 준비하고 수험생입니다. 처음 기간제 정규직화 된..."
24,46,2017-08-19,2017-09-18,0,1933,육아/교육,기간제교사의 정규직화를 반대합니다.,"대통령님, 안녕하세요. 저는 임용을 준비하고 수험생입니다. 처음 기간제 정규직화 된..."
28,50,2017-08-19,2017-10-18,0,1251,일자리,치과위생사 국가고시 날짜 변경 억울합니다,안녕하십니까? 대통령님 간단하게 제소개 부터 하겠습니다. 저는 치위생과 3학년 학생...
38,61,2017-08-19,2017-08-26,0,1185,일자리,영어회화전문강사제도는 유지되어야합니다.,1. 영전강의고용안정을 원합니다\n2.1년단위계약직으로 임신 출산육아 매우 곤란합니...
...,...,...,...,...,...,...,...,...
394599,515717,2019-02-02,2019-03-04,0,1861,보건복지,혁신적인 간경변증 신약의 시판을 방관하여 국민의 생존권을 위협하는 현실을 고발합니다.,(주)파**이 개발한 셀**-**는 알콜성 간경변 치료제 입니다.\n한해 약 10만...
394730,515900,2019-02-03,2019-03-05,0,34105,안전/환경,역삼지구대 2009 이후 2010년 강남경찰서 형사 의문사,"이번 버닝썬 사건과 관련된 역삼지구대,\n그곳에서 2009년에 24명의 경찰들이\..."
394876,516130,2019-02-03,2019-03-05,0,1499,문화/예술/체육/언론,대한민국 순국선열유족회 기관지 월간 <순국>지가 폐간되지 않게 해주세요.,지령 336호 월간 <순국>이 폐간 위기에 놓였습니다.\n<순국>지는 사단법인 '대...
395247,516667,2019-02-04,2019-03-06,0,3353,경제민주화,악덕기업 화승 4달치 판매대금 불법으로 어음주고 수백명 매니져들한테 떠넘기고 회...,k스위스 르까프 머렐 화승 3개 브렌드 매니져들한테 판매대금 어...
395352,516820,2019-02-04,2019-03-06,0,4930,인권/성평등,섬에서 갇혀살아가는 성매매여성들을 도와주세요.,섬에 다방이나 성매매 업자들에게 과한 빚이나 폭력으로 묶여 삶을 유린당하는 여성들이...

In [25]:
df_1000.count()

article_id    3472
start         3472
end           3472
answered      3472
votes         3472
category      3472
title         3472
content       3472
dtype: int64

In [27]:
###20만건 이상 청원된 것을 category별 건수 산정
df_20.category.value_counts()

인권/성평등         24
안전/환경          10
정치개혁            8
기타              8
문화/예술/체육/언론     7
외교/통일/국방        4
반려동물            4
보건복지            3
교통/건축/국토        3
육아/교육           3
경제민주화           2
성장동력            2
미래              1
행정              1
Name: category, dtype: int64

In [28]:
df_20["category"].value_counts()

인권/성평등         24
안전/환경          10
정치개혁            8
기타              8
문화/예술/체육/언론     7
외교/통일/국방        4
반려동물            4
보건복지            3
교통/건축/국토        3
육아/교육           3
경제민주화           2
성장동력            2
미래              1
행정              1
Name: category, dtype: int64

In [31]:
###tile,content,votes세개의 컬럼 뽑기 #두번 리스트쓰기 하나일 경우는 리스트 하나만 써주어도 된다. 
df_20[["title","content","votes"]].head()

,title,content,votes
1752,청소년이란 이유로 보호법을 악용하는 잔인무도한 청소년들이 늘어나고있습니다. 반드시 ...,안녕하십니까. 청소년보호법이란 명목하에 나쁜짓을 일삼는 청소년들이 너무나 많아지고 ...,296330
10894,조두순 출소반대,제발 조두순 재심다시해서 무기징역으로 해야됩니다!!!,615354
18111,낙태죄 폐지와 자연유산 유도약(미프진) 합법화 및 도입을 부탁드립니다.,안녕하세요. 존경하는 대통령님 의원님\n낙태죄 폐지를 청원합니다.\n현재 대한민국은...,235372
25032,'주취감형(술을 먹으면 형벌 감형)' 폐지를 건의(청원)합니다.,"'주취감형'이란, 술을 먹고 범행을 저지를 때, 심신미약 (이성이 없고 우발적)이라...",216774
43992,"권역외상센터 (이국종 교수님) 추가적, 제도적, 환경적, 인력 지원","청원사항)\n중증외상분야의 추가적, 제도적, 환경적, 인력 지원 방안마련\n현 의료...",281985

In [34]:
#20만건 이상 받은것 중에서 상위 5개만 출력
df_20_sorted_by_values = df_20.sort_values(by="votes",ascending=False)
df_20_sorted_by_values.head(5)

,article_id,start,end,answered,votes,category,title,content
313314,408609,2018-10-17,2018-11-16,0,1192049,안전/환경,강서구 피시방 살인 사건. 또 심신미약 피의자입니다.,2018년 10월 14일 엊그제 일어난 강서구 피시방 살인사건에 대한 청원입니다.\...
208597,269548,2018-06-13,2018-07-13,0,714875,외교/통일/국방,"제주도 불법 난민 신청 문제에 따른 난민법, 무사증 입국, 난민신청허가 폐지/개헌 ...",2012년 난민법 제정으로 인해 외국인은 한달 무비자로 입국할 수 있으나 난민신청자...
10894,10949,2017-09-06,2017-12-05,1,615354,미래,조두순 출소반대,제발 조두순 재심다시해서 무기징역으로 해야됩니다!!!
118970,142600,2018-02-19,2018-03-21,1,614127,문화/예술/체육/언론,"김보름, 박지우 선수의 자격박탈과 적폐 빙상연맹의 엄중 처벌을 청원합니다","오늘 여자 단체전 팀추월에서 김보름, 박지우 선수는 팀전인데도 불구하고 개인의 영달..."
183791,230552,2018-05-11,2018-06-10,1,419006,인권/성평등,여성도 대한민국 국민입니다. 성별 관계없는 국가의 보호를 요청합니다.,최근 홍대 누드크로키 모델의 불법촬영 사건이 있었습니다.\n사건은 굉장히 빠르게 처...

In [36]:
df[df['votes']>200000].sort_values(by="votes",ascending=False).head(5)

,article_id,start,end,answered,votes,category,title,content
313314,408609,2018-10-17,2018-11-16,0,1192049,안전/환경,강서구 피시방 살인 사건. 또 심신미약 피의자입니다.,2018년 10월 14일 엊그제 일어난 강서구 피시방 살인사건에 대한 청원입니다.\...
208597,269548,2018-06-13,2018-07-13,0,714875,외교/통일/국방,"제주도 불법 난민 신청 문제에 따른 난민법, 무사증 입국, 난민신청허가 폐지/개헌 ...",2012년 난민법 제정으로 인해 외국인은 한달 무비자로 입국할 수 있으나 난민신청자...
10894,10949,2017-09-06,2017-12-05,1,615354,미래,조두순 출소반대,제발 조두순 재심다시해서 무기징역으로 해야됩니다!!!
118970,142600,2018-02-19,2018-03-21,1,614127,문화/예술/체육/언론,"김보름, 박지우 선수의 자격박탈과 적폐 빙상연맹의 엄중 처벌을 청원합니다","오늘 여자 단체전 팀추월에서 김보름, 박지우 선수는 팀전인데도 불구하고 개인의 영달..."
183791,230552,2018-05-11,2018-06-10,1,419006,인권/성평등,여성도 대한민국 국민입니다. 성별 관계없는 국가의 보호를 요청합니다.,최근 홍대 누드크로키 모델의 불법촬영 사건이 있었습니다.\n사건은 굉장히 빠르게 처...

In [38]:
###20만건 이상 투표를 바은 청원을 별도의 컬럼을 만들어 줍니다. 컬럼 이름은 asnwer로 합니다. true/false
df.loc[df['votes']>200000,'answer']="True",
df.loc[df['votes']<=200000,'answer']="False"

In [39]:
df

,article_id,start,end,answered,votes,category,title,content,answer
0,21,2017-08-19,2017-11-17,0,9,안전/환경,스텔라 데이지호에 대한 제안입니다.,스텔라 데이지호에 대한 제안입니다.\n3월31일 스텔라 데이지호가 침몰하고 5달째가...,False
1,22,2017-08-19,2017-11-17,0,17,기타,비리제보처를 만들어주세요.,현 정부에 국민들이 가장 원하는 것은 부패척결입니다. 우리 사회에 각종 비리들이 ...,False
2,23,2017-08-19,2017-09-03,0,0,미래,제2의 개성공단,"만일 하시는 대통령님 및 각 부처 장관님,주무관님들 안녕하세요!!\n전남 목포에서 ...",False
3,24,2017-08-19,2017-08-26,0,53,일자리,공공기관 무조건적인 정규직전환을 반대합니다.,현정부에서 정규직 일자리를 늘리는 것에 찬성합니다. 그런데 공공기관 비정규직들은 인...,False
4,25,2017-08-19,2017-09-03,0,0,미래,제2의 개성공단,"만일 하시는 대통령님 및 각 부처 장관님,주무관님들 안녕하세요!!\n전남 목포에서 ...",False
...,...,...,...,...,...,...,...,...,...
395542,517117,2019-02-04,2019-03-06,0,3,보건복지,명절연휴 고속도로 무료반대,명절고속도로 무료보단 대다수의 서민들이 이용하는 대중교통 무료와 명절기간 증차로 했...,False
395543,517119,2019-02-04,2019-03-06,0,23,보건복지,광주사태 가짜 유공자들 정수기로 걸려내야함,광주사태 유공자들 차고 넘치는데 이래 많은 유공자들 그냥놓아두면 재앙이다.\n김대중...,False
395544,517120,2019-02-04,2019-03-06,0,0,안전/환경,환경문제,명절이면 후로 제일문제는 쓰레기 문제 입니다.\n제일문제는 선물세트와 농산물세트 입...,False
395545,517121,2019-02-04,2019-03-06,0,20,정치개혁,"청화대,더불어민주당, 당장 답하라,,,,,,","좌파 더불어민주당, 좌파 정권 청화대는 선한 국민들을 더는 기망하지 말고 담장 답하...",False
395546,517122,2019-02-04,2019-03-06,0,16,인권/성평등,여성부 폐지,국민들이 원합니다\n폐지 좀 시키세요;,False

In [40]:
df['answer']=df['votes']>200000
df.head()

,article_id,start,end,answered,votes,category,title,content,answer
0,21,2017-08-19,2017-11-17,0,9,안전/환경,스텔라 데이지호에 대한 제안입니다.,스텔라 데이지호에 대한 제안입니다.\n3월31일 스텔라 데이지호가 침몰하고 5달째가...,False
1,22,2017-08-19,2017-11-17,0,17,기타,비리제보처를 만들어주세요.,현 정부에 국민들이 가장 원하는 것은 부패척결입니다. 우리 사회에 각종 비리들이 ...,False
2,23,2017-08-19,2017-09-03,0,0,미래,제2의 개성공단,"만일 하시는 대통령님 및 각 부처 장관님,주무관님들 안녕하세요!!\n전남 목포에서 ...",False
3,24,2017-08-19,2017-08-26,0,53,일자리,공공기관 무조건적인 정규직전환을 반대합니다.,현정부에서 정규직 일자리를 늘리는 것에 찬성합니다. 그런데 공공기관 비정규직들은 인...,False
4,25,2017-08-19,2017-09-03,0,0,미래,제2의 개성공단,"만일 하시는 대통령님 및 각 부처 장관님,주무관님들 안녕하세요!!\n전남 목포에서 ...",False

In [42]:
df.shape

(395547, 9)

In [43]:
###데이터타입 확인하기
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395547 entries, 0 to 395546
Data columns (total 9 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   article_id  395547 non-null  int64
 1   start       395547 non-null  datetime64[ns]
 2   end         395547 non-null  datetime64[ns]
 3   answered    395547 non-null  int64
 4   votes       395547 non-null  int64
 5   category    395547 non-null  object
 6   title       395547 non-null  object
 7   content     395546 non-null  object
 8   answer      395547 non-null  bool
dtypes: bool(1), datetime64[ns](2), int64(3), object(3)
memory usage: 24.5+ MB

In [44]:
###데이터 타입 변경하기 bool->int변경하기 
df['answer']=df['answer'].astype('int')
df.dtypes

article_id             int64
start         datetime64[ns]
end           datetime64[ns]
answered               int64
votes                  int64
category              object
title                 object
content               object
answer                 int32
dtype: object

In [64]:
df

,article_id,start,end,answered,votes,category,title,content,answer,answer_diff
0,21,2017-08-19,2017-11-17,0,9,안전/환경,스텔라 데이지호에 대한 제안입니다.,스텔라 데이지호에 대한 제안입니다.\n3월31일 스텔라 데이지호가 침몰하고 5달째가...,0,0
1,22,2017-08-19,2017-11-17,0,17,기타,비리제보처를 만들어주세요.,현 정부에 국민들이 가장 원하는 것은 부패척결입니다. 우리 사회에 각종 비리들이 ...,0,0
2,23,2017-08-19,2017-09-03,0,0,미래,제2의 개성공단,"만일 하시는 대통령님 및 각 부처 장관님,주무관님들 안녕하세요!!\n전남 목포에서 ...",0,0
3,24,2017-08-19,2017-08-26,0,53,일자리,공공기관 무조건적인 정규직전환을 반대합니다.,현정부에서 정규직 일자리를 늘리는 것에 찬성합니다. 그런데 공공기관 비정규직들은 인...,0,0
4,25,2017-08-19,2017-09-03,0,0,미래,제2의 개성공단,"만일 하시는 대통령님 및 각 부처 장관님,주무관님들 안녕하세요!!\n전남 목포에서 ...",0,0
...,...,...,...,...,...,...,...,...,...,...
395542,517117,2019-02-04,2019-03-06,0,3,보건복지,명절연휴 고속도로 무료반대,명절고속도로 무료보단 대다수의 서민들이 이용하는 대중교통 무료와 명절기간 증차로 했...,0,0
395543,517119,2019-02-04,2019-03-06,0,23,보건복지,광주사태 가짜 유공자들 정수기로 걸려내야함,광주사태 유공자들 차고 넘치는데 이래 많은 유공자들 그냥놓아두면 재앙이다.\n김대중...,0,0
395544,517120,2019-02-04,2019-03-06,0,0,안전/환경,환경문제,명절이면 후로 제일문제는 쓰레기 문제 입니다.\n제일문제는 선물세트와 농산물세트 입...,0,0
395545,517121,2019-02-04,2019-03-06,0,20,정치개혁,"청화대,더불어민주당, 당장 답하라,,,,,,","좌파 더불어민주당, 좌파 정권 청화대는 선한 국민들을 더는 기망하지 말고 담장 답하...",0,0
395546,517122,2019-02-04,2019-03-06,0,16,인권/성평등,여성부 폐지,국민들이 원합니다\n폐지 좀 시키세요;,0,0

In [59]:
###청원답변 대상중 답변 많은 것의 수는?
df[df["answer"]==1]["answered"].value_counts()

0    51
1    29
Name: answered, dtype: int64

In [60]:
df['answer_diff']=df['answer']-df['answered']
df['answer_diff'].sum()

51

In [63]:
answered_df=df[df['answer']==1]
answered_df.sort_values('votes',ascending=False).head(3)

,article_id,start,end,answered,votes,category,title,content,answer,answer_diff
313314,408609,2018-10-17,2018-11-16,0,1192049,안전/환경,강서구 피시방 살인 사건. 또 심신미약 피의자입니다.,2018년 10월 14일 엊그제 일어난 강서구 피시방 살인사건에 대한 청원입니다.\...,1,1
208597,269548,2018-06-13,2018-07-13,0,714875,외교/통일/국방,"제주도 불법 난민 신청 문제에 따른 난민법, 무사증 입국, 난민신청허가 폐지/개헌 ...",2012년 난민법 제정으로 인해 외국인은 한달 무비자로 입국할 수 있으나 난민신청자...,1,1
10894,10949,2017-09-06,2017-12-05,1,615354,미래,조두순 출소반대,제발 조두순 재심다시해서 무기징역으로 해야됩니다!!!,1,0

In [65]:
###청원이 가장 많이 들어온 3개의 분야는 어디인가요?
df.category.value_counts()

정치개혁           62750
기타             48682
인권/성평등         34993
안전/환경          30638
교통/건축/국토       28184
외교/통일/국방       26626
육아/교육          25537
보건복지           24848
일자리            23225
행정             20268
문화/예술/체육/언론    18207
미래             18000
경제민주화          16793
성장동력            7253
반려동물            4057
저출산/고령화대책       3584
농산어촌            1902
Name: category, dtype: int64

In [66]:
category=pd.DataFrame(df['category'].value_counts())
category.head(3)

        category
정치개혁       62750
기타         48682
인권/성평등     34993

In [67]:
category=pd.DataFrame(df['category'].value_counts()).reset_index()
category

          index  category
0          정치개혁     62750
1            기타     48682
2        인권/성평등     34993
3         안전/환경     30638
4      교통/건축/국토     28184
5      외교/통일/국방     26626
6         육아/교육     25537
7          보건복지     24848
8           일자리     23225
9            행정     20268
10  문화/예술/체육/언론     18207
11           미래     18000
12        경제민주화     16793
13         성장동력      7253
14         반려동물      4057
15    저출산/고령화대책      3584
16         농산어촌      1902

In [68]:
category.columns=["category","counts"]
category.head(3)

  category  counts
0     정치개혁   62750
1       기타   48682
2   인권/성평등   34993

In [72]:
df.head(3)

,article_id,start,end,answered,votes,category,title,content,answer,answer_diff
0,21,2017-08-19,2017-11-17,0,9,안전/환경,스텔라 데이지호에 대한 제안입니다.,스텔라 데이지호에 대한 제안입니다.\n3월31일 스텔라 데이지호가 침몰하고 5달째가...,0,0
1,22,2017-08-19,2017-11-17,0,17,기타,비리제보처를 만들어주세요.,현 정부에 국민들이 가장 원하는 것은 부패척결입니다. 우리 사회에 각종 비리들이 ...,0,0
2,23,2017-08-19,2017-09-03,0,0,미래,제2의 개성공단,"만일 하시는 대통령님 및 각 부처 장관님,주무관님들 안녕하세요!!\n전남 목포에서 ...",0,0

In [ ]:
###월별 청원수를 집계해 보세요
#청원이 가장 많이 들어온 달이 몇월달인가? 
##요일별 청원수는 ?

In [80]:
df['start'][]

0        2017-08-19
1        2017-08-19
2        2017-08-19
3        2017-08-19
4        2017-08-19
            ...
395542   2019-02-04
395543   2019-02-04
395544   2019-02-04
395545   2019-02-04
395546   2019-02-04
Name: start, Length: 395547, dtype: datetime64[ns]

In [81]:
df['start_year']= df['start'].dt.year         # 연(4자리숫자)
df['start_month']= df['start'].dt.month        # 월(숫자)
df['start_month_name'] = df['start'].dt.month_name() # 월(문자)

In [82]:
df['start_year']

0         2017
1         2017
2         2017
3         2017
4         2017
          ...
395542    2019
395543    2019
395544    2019
395545    2019
395546    2019
Name: start_year, Length: 395547, dtype: int64

In [85]:
df['start_month'].value_counts()

1     52941
11    52847
9     40888
12    38498
10    31687
8     28851
2     28117
7     25714
5     25499
6     25483
4     23227
3     21795
Name: start_month, dtype: int64

In [84]:
df['start_month_name']

0           August
1           August
2           August
3           August
4           August
            ...
395542    February
395543    February
395544    February
395545    February
395546    February
Name: start_month_name, Length: 395547, dtype: object

In [86]:
df['start_month']= df['start'].dt.month 
df['start_dow']= df['start'].dt.dayofweek
df.shape

(395547, 14)

In [87]:
df['start_month'].value_counts()

1     52941
11    52847
9     40888
12    38498
10    31687
8     28851
2     28117
7     25714
5     25499
6     25483
4     23227
3     21795
Name: start_month, dtype: int64

In [88]:
df['start_dow'].value_counts()

1    65229
3    63072
2    61966
4    56646
0    54234
5    50984
6    43416
Name: start_dow, dtype: int64

In [89]:
df['start_dow'].value_counts().sort_index()

0    54234
1    65229
2    61966
3    63072
4    56646
5    50984
6    43416
Name: start_dow, dtype: int64

In [91]:
### 특정 단어만 뽑고 싶을때
import re
p=r'.*(돌봄|아이|초등|교육).*'
care=df[df['title'].str.match(p) |
        df['content'].str.match(p,flags=re.MULTILINE)]
care.shape

(63497, 14)

In [92]:
care.head

<bound method NDFrame.head of         article_id      start        end  answered  votes category  \
3               24 2017-08-19 2017-08-26         0     53      일자리
15              36 2017-08-19 2017-08-26         0      1   인권/성평등
20              42 2017-08-19 2017-09-18         0    173    육아/교육
21              43 2017-08-19 2017-09-18         0  11293    육아/교육
22              44 2017-08-19 2017-09-18         0      9    육아/교육
...            ...        ...        ...       ...    ...      ...
395522      517089 2019-02-04 2019-03-06         0      1       기타
395523      517090 2019-02-04 2019-03-06         0      3     성장동력
395527      517096 2019-02-04 2019-03-06         0      7    육아/교육
395531      517101 2019-02-04 2019-03-06         0      2    육아/교육
395539      517112 2019-02-04 2019-03-06         0      7     보건복지

                                                title  \
3                            공공기관 무조건적인 정규직전환을 반대합니다.
15      한국채식인구 100만명. 학교 급식 및 군대에서 현미채식 선택권을 보장해주십시오!
20                               기간제 교사의 정규직화를 반대합니다.
21                               기간제 교사의 정규직화를 반대합니다.
22          해외 수학여행 및 학생 프로그램 참가시 시간외 근무수당을 지급해 주십시오.
...                                               ...
395522      선진국 민생탐방 -> 한국 민생탐방 -> 상설국회 법제화 -> 실질적 성과
395523              미세먼지 근본 피해 대책으로 1조원 투입 청원 합니다~!!!
395527                              예비고3이 보는 학생부 종합전형
395531                                   중입배정 좀 잘해주세요
395539                            보육원생 자립지원 관심이 필요합니다

                                                  content  answer  \
3       현정부에서 정규직 일자리를 늘리는 것에 찬성합니다. 그런데 공공기관 비정규직들은 인...       0
15      문재인 대통령님과 각 정부 인사분들께 마음속 깊이 존경과 감사를 표합니다. 대한민국...       0
20      대통령님, 안녕하세요. 저는 임용을 준비하고 수험생입니다. 처음 기간제 정규직화 된...       0
21      대통령님, 안녕하세요. 저는 임용을 준비하고 수험생입니다. 처음 기간제 정규직화 된...       0
22      광주 과학고등학교에서 학생들을 인솔하여 해외 프로그램을 다녀왔는데 인솔교사에게 시간...       0
...                                                   ...     ...
395522  참여대상 : 중앙의 국회의원, 지방의 지방의원을 포함한 모든 정치인들과 정치 예비 ...       0
395523  안녕하세요~!!\n미세먼지의 심각성에 대한 국민청원을 해 볼까 합니다~!!\n현제 ...       0
395527  국민청원에 올려야할 이야기가 아니라는 것은 잘 알고 있지만, 여기만큼 교육에 관심이...       0
395531  중입배정 너무 이상하게 되서 많은 예비 중학생들이 너무 먼 학교를 힘들게 가야 합니...       0
395539  보육원에서 자라난 아이들이\n18세에 500만원 손에 쥐고 자립해야하다니요?\n돈만...       0

        answer_diff  start_year  start_month start_month_name  start_dow
3                 0        2017            8           August          5
15                0        2017            8           August          5
20                0        2017            8           August          5
21                0        2017            8           August          5
22                0        2017            8           August          5
...             ...         ...          ...              ...        ...
395522            0        2019            2         February          0
395523            0        2019            2         February          0
395527            0        2019            2         February          0
395531            0        2019            2         February          0
395539            0        2019            2         February          0

[63497 rows x 14 columns]>